@import "tailwindcss";

@theme {

  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-syne), ui-serif, Georgia, serif; 
}

/* -------------------------------------------------------------------------- */
/* 2. BASE STYLES                                                             */
/* -------------------------------------------------------------------------- */
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
}

/* -------------------------------------------------------------------------- */
/* 3. AESTHETICS                                                              */
/* -------------------------------------------------------------------------- */
::selection {
  background-color: #ffffff;
  color: #000000;
}